.App{
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(238,102,233);
background: linear-gradient(145deg, rgba(238,102,233,1) 53%, rgba(84,129,232,1) 54%);
}